.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.centertext {
    display: block;
    text-align: center;
    color: #d5c4a1;
    text-shadow: 0px 1px #3c3836;
}

.large-text {
    font-size: 50px;
}

.small-text {
    font-size: 15px;
}

.link-logo {
    fill: #d5c4a1;
}

.link-shadow {
    fill: #3c3836;
    padding-top: 2px;
}

.box {
    position: absolute;
    height: 32;
    width: 32;
}

.logo {
    height: 33px;
    width: 33px;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    /* background: #665c54; */
    background: linear-gradient(0deg, rgba(52,47,43,1) 0%, rgba(102,92,84,1) 24%, rgba(102,92,84,1) 100%);
}

html {
    height: 100%;
}
